*{
    font-size: 4vh;
    letter-spacing: 0.2vh;
    color: #fd7014;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}

body{
    background-color: #393e46;
}
body div label{
    font-size: 5vh;
}
body div form select{
    background-color: #393e46;
    border-style: dotted;
    border-color: #000;
    border-radius: 4vh;
    font-size: 4vh;
}
body div form input{
    background-color: #393e46;
    border-style: dotted;
    border-radius: 4vh;
    font-size: 4vh;
    border-color: #000;
    margin-bottom: 2vh;
}
body div h1 {
    font-size: 5vh;
    letter-spacing: 0.4vh;
}
body div form button{
    border-style: dotted;
    border-radius: 4vh;
    background-color: #393e46;
}
@media only screen and (min-width: 367px) and (max-width:530px){
    *{
        font-size: 4vh;
        letter-spacing: 0.2vh;
        color: #fd7014;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align:center;
    }
    
    body{
        background-color: #393e46;
    }
    body div label{
        font-size: 5vh;
    }
    body div form select{
        background-color: #393e46;
        border-style: dotted;
        border-color: #000;
        border-radius: 4vh;
        font-size: 4vh;
    }
    body div form input{
        background-color: #393e46;
        border-style: dotted;
        border-radius: 4vh;
        font-size: 4vh;
        border-color: #000;
        margin-bottom: 2vh;
    }
    body div h1 {
        font-size: 5vh;
        letter-spacing: 0.4vh;
    }
    body div form button{
        border-style: dotted;
        border-radius: 4vh;
        background-color: #393e46;
    }
    #Final{
      float: inline-end;
      margin-top: 2vh;
    }
    #Resultado{
        margin-top: 2vh;
    }
}